name: Release

on:
  workflow_call:
    inputs:
      tag:
        type: string
        required: true

jobs:
  image:
    name: Image
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build image
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/${{ github.repository }}:${{ inputs.tag }}
            ghcr.io/${{ github.repository }}:latest

  release-note:
    name: Generate Release Note
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Generate release notes
        uses: actions/github-script@v8
        with:
          script: |
            await github.rest.repos.createRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag_name: "${{ inputs.tag }}",
              generate_release_notes: true,
            });
